{% extends 'base.html' %}

{% block content %}
    <a href="/blog/posts/" class="btn btn-primary">Back to all posts</a>
    <h1>Post details</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text"><b>Post by: {{ post.author }}</b></p>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            {% for comment in post.comment_post.all %}
            <div class="card" style="width: 14rem;">
                <p class="card-text"><b>Comment by: {{comment.author}}</b></p>
                <p class="card-text">{{comment.body}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}